<header class="header">
  <div class="container">
  <div class="login-link-wrapper">
    <button *ngIf="!isAuth" type="button" (click)="showDialog()" pButton class="login">Login</button>
    <button (click)="onLogout()" class="logout" *ngIf="isAuth">Logout</button>
  </div>
  </div>
</header>
<p-dialog header="Login" [(visible)]="display">
  <app-login-form (loggedIn)="display=false"></app-login-form>
</p-dialog>

