.header {
  box-shadow: 0 2px 2px 0 #0000000c;
  .container {
    &:after {
      content: '';
      width: 100%;
      display: table;
      clear: both;
    }
  }
  .login-link-wrapper {
    float: right;
     button {
       padding: 20px 20px;
       background-color: #323232;
       color: #ffffff;
       font-size: 14px;
       border: 2px solid transparent;
       transition: all 200ms linear 150ms;
       font-weight: 600;
       &:hover, &:active, &:focus {
         background-color: #fff;
         border-color: #323232;
         color: #323232;
       }
     }
  }

}
