<footer class="footer">
  <div class="container">
    <ul class="nav footer-navigation">
      <li class="nav-item">
        <a class="nav-link">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Privacy</a>
      </li>
    </ul>
  </div>
</footer>
