<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="username">User name</label>
    <input type="text" id="username" name="username" formControlName="username" class="form-control" required>
    <div class="alert-box text-danger" *ngIf="submitted && loginForm.get('username')?.getError('required')">
      This field is required
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" id="password" name="password" formControlName="password" class="form-control" required>
    <div class="alert-box text-danger" *ngIf="submitted && loginForm.get('password')?.getError('required')">
      This field is required
    </div>
  </div>
  <button type="submit" (click)="onSubmit()">Login</button>
  <div class="alert-box text-danger" *ngIf="loginForm?.getError('wrongCredentials')">
    {{loginForm.getError('wrongCredentials')}}
  </div>
</form>
