
::ng-deep {
  p-accordiontab {
    display: block;
    & + p-accordiontab {
      margin-top: 20px;
    }
  }

  body {
    .ui-accordion {
      .ui-accordion-header {
        &:not(.ui-state-active):not(.ui-state-disabled) {
          &:hover {
            a {
              background-color: rgba(108, 122, 224, 1);
              color: #fff;
              .ui-accordion-toggle-icon {
                color: #ffffff;
              }
            }
          }
        }
        &:not(.ui-state-disabled).ui-state-active {
          a {
            background-color: rgba(108, 122, 224, 1);
          }
        }
        &:not(.ui-state-disabled).ui-state-active {
          &:hover {
            a {
              background-color: rgba(108, 122, 224, 1);
            }
          }
        }
        a {
          background-color: rgba(108, 122, 224, .5);
          color: #ffffff;
          .ui-accordion-toggle-icon {
            color: #ffffff;
          }
        }
      }
    }
  }
  .ui-accordion-content {
    display: flex;
    .trip-img {
      width: 25%;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media all and (max-width: 992px) {
      .trip-img {
        height: 250px;
      }
    }
    @media all and (max-width: 768px) {
      .trip-img {
        height: 150px;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  @media all and (max-width: 768px) {
    .ui-accordion-content {
      flex-direction: column;
    }
  }
  .rating {
    justify-content: flex-start;
    margin-top: 30px;
    &:focus {
      outline: none;
    }
  }
  @media all and (max-width: 768px) {
    .rating {
      margin-top: 15px;
    }
  }
}

.trip-info {
  width: 75%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  span {
    font-size: 16px;
    line-height: 18px;
  }
  @media all and (max-width: 768px) {
    .span {
      font-size: 14px;
    }
  }
  .description {
    display: block;
  }
  .location {
    margin-top: 20px;
  }
  @media all and (max-width: 768px) {
    .location {
      margin-top: 10px;
    }
  }
  .date {
    margin-top: 30px;
    .date-item {
      & + .date-item {
        margin-left: 20px;
      }
      @media all and (max-width: 768px) {
        & + .date-item {
          margin: 10px 0 0;
        }
      }
    }
  }
  @media all and (max-width: 768px) {
    .date {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
    }
  }
  .label {
    font-weight: 600;
  }
  .price {
    margin-top: 15px;
  }
  i {
    margin-top: 30px;
  }
  @media all and (max-width: 768px) {
    i {
      margin-top: 15px;
    }
  }
}
@media all and (max-width: 768px) {
  .trip-info {
    width: 100%;
    padding: 0;
  }
}
