<main class="main">
  <p-accordion>
    <p-accordionTab *ngFor="let trip of trips" header="{{trip.title}}">
      <div class="trip-info">
        <span class="description">{{trip.description}}</span>
        <span class="location">
          <span class="label">Location:</span>
          {{ trip.location}}
        </span>
        <div class="date">
          <span class="date-item">
            <span class="label">From:</span>
            {{trip.fromDate | date: 'dd/MM/yyyy'}}
          </span>
          <span class="date-item">
            <span class="label">To:</span>
            {{trip.toDate | date: 'dd/MM/yyyy'}}
          </span>
        </div>
        <span class="price">
          <span class="label">Price:
          </span> {{trip.price | currency}}
        </span>
        <star-rating [readOnly]="true" [showHalfStars]="true" [starType]="'svg'" [rating]="trip.avgRating"></star-rating>
        <i *ngIf="trip.like" class="pi-thumbs-up pi"></i>
      </div>
      <div class="trip-img">
        <img src="{{trip.imageUrl}}" alt="">
      </div>
    </p-accordionTab>
  </p-accordion>
</main>
