/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/css/star-rating';

body {
  font: 16px/18px 'Helvetica', sans-serif;
}

.main {
  padding: 30px 0;
  min-height: calc(100vh - 137px);
}

body {
  .ui-dialog {
    width: 350px;
    .ui-dialog-titlebar {
      background-color: #6c7ae0;
      color: #ffffff;
      .ui-dialog-titlebar-icon {
        color: #ffffff;
        &:hover {
          color: #ccc;
        }
      }
    }
    .ui-dialog-content {
      padding: 20px;
    }
  }
}

img {
  width: 100%;
  height: auto;
}
