<main class="main">
  <swiper [config]="config">
    <div>
      <img src="/assets/images/slider2.jpg" alt="">
    </div>
    <div>
      <img src="/assets/images/slider3.jpg" alt="">
    </div>
    <div>
      <img src="/assets/images/slider4.jpg" alt="">
    </div>
  </swiper>
  <div class="home-page-trips-wrapper">
      <a href="mailto:test@gmail.com?subject={{trip.title}}" *ngFor="let trip of homeTrips" class="tile">
        <img src="{{trip.imageUrl}}" alt="">
        <div class="trip-info">
          <span class="title">{{trip.title}}</span>
          <span class="location">{{trip.location}}</span>
          <span class="price">{{trip.price | currency}}</span>
        </div>
      </a>
  </div>
</main>
