::ng-deep {
  swiper {
    .swiper-pagination-bullet {
      background: #fff;
      width: 16px;
      height: 16px;
    }
    .swiper-pagination-bullet-active {
      background: #fff;
    }
  }
  .swiper-container  {
    height: 500px !important;
  }
  @media all and (max-width: 768px) {
    .swiper-container {
      height: 350px !important;
    }
  }
  .swiper-slide {
    height: auto;
    img {
      height: 100%;
    }
  }
}

.home-page-trips-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 0;
}

.tile {
  width: 35%;
  display: flex;
  position: relative;
  height: 400px;
  margin: 30px 0 0;
  &:hover {
    &:after {
      transform: scale(1);
    }
    .trip-info {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transform: scale(0);
    transition: transform 250ms linear 100ms;
    z-index: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media all and (max-width: 768px) {
  .tile {
    width: 100%;
    height: 250px;
  }
}

.trip-info {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 350ms linear 100ms;
  span {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    & + span {
      margin-top: 10px;
    }
  }
}
